* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    line-height: 1.5;
    min-height: 95vh;
    font-family: 'Barlow Condensed', sans-serif;
    max-width: 1400px;
    font-weight: 400;
    background: url(./assets/home/background-home-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

}

@media (max-width: 768px) {

    body {

        width: fit-content;
        background: url(./assets/home/background-home-tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (max-width: 425px) {


    body {
        background: url("./assets/home/background-home-mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

a {
    text-decoration: none;
    color: inherit;
}
